/*
 * Color Palette
 * Dark Blue - #17252A
 * Medium Blue - #2B7A78
 * Background Blue - #3AAFA9
 * Blue-White - #DEF2F1
 * White - #FEFFFF
 */

@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
html{
    position: relative;
    min-height: 100%;
}
body {
    background-color: #3AAFA9;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 50px;
}
h1{
    font-weight: bold;
}
.header{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
}
.header:before{
    content : "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    max-width: 800px;  /* or 100px */
    border-bottom: 1px solid #17252A;
}
.header > * {
    margin: auto 15px;
}
.header h1{
    color: #17252A;
}
.header h4{
    color: #FEFFFF;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px; /* Set the fixed height of the footer here */
    line-height: 50px; /* Vertically center the text there */
    background-color: #2B7A78;
    color: #FEFFFF;
    text-align: center;
}

/* ----- Table Styles ----- */
table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #DEF2F1;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #DEF2F1;
}
tr:nth-child(odd) {
    background-color: #FEFFFF;
}



.icon {
    position: relative;
    display: inline-block;
    width: 8em;
    height: 7em;
    font-size: .6em; /* control icon size here */
}

.cloud {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 3.6875em;
    height: 3.6875em;
    margin: -1.84375em;
    background: currentColor;
    border-radius: 50%;
    box-shadow:
            -2.1875em 0.6875em 0 -0.6875em,
            2.0625em 0.9375em 0 -0.9375em,
            0 0 0 0.375em #fff,
            -2.1875em 0.6875em 0 -0.3125em #fff,
            2.0625em 0.9375em 0 -0.5625em #fff;
}
.cloud:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -0.5em;
    display: block;
    width: 4.5625em;
    height: 1em;
    background: currentColor;
    box-shadow: 0 0.4375em 0 -0.0625em #fff;
}
.cloud:nth-child(2) {
    z-index: 0;
    background: #FEFFFF;
    box-shadow:
            -2.1875em 0.6875em 0 -0.6875em #fff,
            2.0625em 0.9375em 0 -0.9375em #fff,
            0 0 0 0.375em #fff,
            -2.1875em 0.6875em 0 -0.3125em #fff,
            2.0625em 0.9375em 0 -0.5625em #fff;
    opacity: 0.3;
    transform: scale(0.5) translate(6em, -3em);
    animation: cloud 4s linear infinite;
}
.cloud:nth-child(2):after { background: #fff; }


