<div class="row justify-content-md-center">
    <div class="col-md-6">
        <input id="pac-input" class="controls" type="text" placeholder="Search Box">
        <div id="map"></div>
        <script>
            initMap();
        </script>
    </div>

    <div id="checkboxContainer" class="col-md-4" style="background-color: white">
        <h3>Control Panel</h3>
        <div id="pm25">
            <input type="checkbox" id="pm25checkbox" name="pm25">
            <label for="pm25">pm25</label>
        </div>

        <div id="pm10">
            <input type="checkbox" id="pm10checkbox" name="pm10">
            <label for="pm10">pm10</label>
        </div>

        <div id="so2">
            <input type="checkbox" id="so2checkbox" name="so2">
            <label for="so2">so2</label>
        </div>

        <div id="no2">
            <input type="checkbox" id="no2checkbox" name="no2">
            <label for="no2">no2</label>
        </div>

        <div id="o3">
            <input type="checkbox" id="o3checkbox" name="o3">
            <label for=o3>o3</label>
        </div>

        <div id="co">
            <input type="checkbox" id="cocheckbox" name="co">
            <label for="co">co</label>
        </div>

        <div id="bc">
            <input type="checkbox" id="bccheckbox" name="bc">
            <label for="bc">bc</label>
        </div>
        <button id="heatMapButton" onclick="toggleHeatMap();">Toggle Heat Map On</button>
    </div>

</div>
<div class="row justify-content-md-center">
    <div id="dataTable" class="col-md-10 col-md-offset-1" ng-app="tableApp" ng-controller="mainController">
        <table id="airQualityTable">
            <tr>
                <th>Location</th>
                <th ng-repeat="param in checkedParameters">{{param}}</th>
                <th>Date</th>
            </tr>
            <tr ng-repeat="dataPoint in data">
                <td>{{ dataPoint.location }}</td>
                <td ng-repeat="measurement in dataPoint.measurements" ng-show="measurement.displayed">
                    {{ measurement.value }} {{ measurement.unit }}
                </td>
                <td> {{ dataPoint.measurements[0].lastUpdated }}</td>

            </tr>
        </table>
    </div>

</div>
